<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Key-Terms" data-toc-modified-id="Key-Terms-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Key Terms</a></span></li><li><span><a href="#Normal-Heart-and-Respiratory-Rates" data-toc-modified-id="Normal-Heart-and-Respiratory-Rates-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Normal Heart and Respiratory Rates</a></span></li><li><span><a href="#Sources" data-toc-modified-id="Sources-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Sources</a></span></li></ul></li><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Import-Data" data-toc-modified-id="Import-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Import Data</a></span></li><li><span><a href="#Prepare-Data" data-toc-modified-id="Prepare-Data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Prepare Data</a></span><ul class="toc-item"><li><span><a href="#Convert-Bool-to-Int" data-toc-modified-id="Convert-Bool-to-Int-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Convert Bool to Int</a></span></li><li><span><a href="#Select-In-Room-Data" data-toc-modified-id="Select-In-Room-Data-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Select In-Room Data</a></span></li><li><span><a href="#Replace-Invalid-Data" data-toc-modified-id="Replace-Invalid-Data-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Replace Invalid Data</a></span></li></ul></li><li><span><a href="#Alert-Indicators" data-toc-modified-id="Alert-Indicators-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Alert Indicators</a></span><ul class="toc-item"><li><span><a href="#Immediate-Danger-Indicators" data-toc-modified-id="Immediate-Danger-Indicators-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Immediate Danger Indicators</a></span></li><li><span><a href="#Recommend-Doctor's-Visit" data-toc-modified-id="Recommend-Doctor's-Visit-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Recommend Doctor's Visit</a></span><ul class="toc-item"><li><span><a href="#Define-rolling-function" data-toc-modified-id="Define-rolling-function-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Define rolling function</a></span></li><li><span><a href="#Group-by-User-ID-for-Rolling-Mean" data-toc-modified-id="Group-by-User-ID-for-Rolling-Mean-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>Group by User ID for Rolling Mean</a></span></li></ul></li><li><span><a href="#Alert-Features" data-toc-modified-id="Alert-Features-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Alert Features</a></span><ul class="toc-item"><li><span><a href="#Non-Emergency-Alert" data-toc-modified-id="Non-Emergency-Alert-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Non-Emergency Alert</a></span></li><li><span><a href="#Emergency-Alert" data-toc-modified-id="Emergency-Alert-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>Emergency Alert</a></span></li><li><span><a href="#Doctor's-visit-Alert" data-toc-modified-id="Doctor's-visit-Alert-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>Doctor's visit Alert</a></span></li><li><span><a href="#Alert-Compilation-Feature" data-toc-modified-id="Alert-Compilation-Feature-5.3.4"><span class="toc-item-num">5.3.4&nbsp;&nbsp;</span>Alert Compilation Feature</a></span></li></ul></li></ul></li></ul></div>

# Introduction
* Utilize heart and respiration rates of patients in a nursing home facility to determine if they need a staff member to check-in.
    * Check-ins will be classified by emergency, non-emergency, and doctor's visit.

## Key Terms
* rr = Respiration Rate
* hr = Heart Rate
* ts = Time Stamp

## Normal Heart and Respiratory Rates
* Normal range of respiratory rate in geriatric facility 16-25 breaths a minute.
* Normal range of Heart Rate:
    * 60 years: 80 to 136 beats per minute
    * 65 years: 78 to 132 beats per minute
    * 70 years: 75 to 128 beats per minute

## Sources
* [Normal Heart Rate for Elderly Adults](https://www.griswoldhomecare.com/blog/2021/september/normal-heart-rate-for-elderly-adults/)
* [Raised respiratory rate in elderly patients: a valuable physical sign](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1496225/)
* [Cardiopulmonary Resuscitation in Adults Over 80: Outcome and the Perception of Appropriateness by Clinicians](https://agsjournals.onlinelibrary.wiley.com/doi/full/10.1111/jgs.16270)

# Import Libraries

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd 
import numpy as np

# Import Data

In [3]:
df = pd.read_csv('data/Tellus - ML test data')
df

       in_room   rr         hr                   ts  user_id
0        False  0.0  93.546196  2019-03-20 03:00:00        1
1        False  0.0  -1.000000  2019-03-20 03:01:00        1
2        False  0.0  -1.000000  2019-03-20 03:02:00        1
3        False  0.0  98.374496  2019-03-20 03:03:00        1
4        False  0.0  94.692595  2019-03-20 03:04:00        1
...        ...  ...        ...                  ...      ...
35924    False  0.0  -1.000000  2019-09-17 02:56:00        5
35925    False  0.0  96.253551  2019-09-17 02:57:00        5
35926    False  0.0  97.546875  2019-09-17 02:58:00        5
35927    False  0.0  -1.000000  2019-09-17 02:59:00        5
35928    False  0.0  95.335478  2019-09-17 03:00:00        5

[35929 rows x 5 columns]

# Prepare Data

In [12]:
# Copy DataFrame
df_present = df.copy()

## Convert Bool to Int

In [13]:
# Convert bool to int
df_present["in_room"] = df_present["in_room"].astype(int)

## Select In-Room Data

In [14]:
# Select in_room = 1
df_present = df_present.loc[df_present['in_room'] == 1]

## Replace Invalid Data

In [15]:
# Replace invalid values with NaN
df_present['hr'] = df_present['hr'].replace(-1, np.NaN)
df_present['rr'] = df_present['rr'].replace(0, np.NaN)
df_present['rr'] = df_present['rr'].replace(-1, np.NaN)

# Alert Indicators

In [16]:
# Make copy of df_present
df_MA = df_present.copy()

## Immediate Danger Indicators
* Resuscitation possible in this scenario

In [17]:
# 3 Minute moving average for rr and hr
df_MA['rr_MA_3_min'] = df_MA['rr'].rolling(window=3,min_periods=3).mean()
df_MA['hr_MA_3_min'] = df_MA['hr'].rolling(window=3,min_periods=3).mean()

## Recommend Doctor's Visit
* Respiratory rate too high or too low over 1 day period.
    * Likelihood of respiratory, urinary, or other infection higher than normal.

### Define rolling function
* To allow application with groupby()

In [18]:
# Define rolling function
def day_rolling(df):
    df['rr_MA_1_day'] = df['rr'].rolling(window=1440,min_periods=1000).mean()
    return df

### Group by User ID for Rolling Mean

In [20]:
# Apply function with groupby 
df_MA = df_MA.groupby("user_id").apply(day_rolling)
df_MA

,in_room,rr,hr,ts,user_id,rr_MA_3_min,hr_MA_3_min,rr_MA_1_day
314,1,5.252827,92.413238,2019-03-20 08:14:00,1,NaN,NaN,NaN
315,1,NaN,90.451836,2019-03-20 08:15:00,1,NaN,NaN,NaN
316,1,NaN,NaN,2019-03-20 08:16:00,1,NaN,NaN,NaN
318,1,8.180480,NaN,2019-03-20 08:18:00,1,NaN,NaN,NaN
319,1,18.764710,NaN,2019-03-20 08:19:00,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
35875,1,10.667067,73.873197,2019-09-17 02:07:00,5,15.833669,NaN,17.333498
35876,1,8.311632,63.986545,2019-09-17 02:08:00,5,10.723089,72.111172,17.326064
35877,1,NaN,NaN,2019-09-17 02:09:00,5,NaN,NaN,17.324765
35878,1,NaN,NaN,2019-09-17 02:10:00,5,NaN,NaN,17.324017
35879,1,NaN,93.320312,2019-09-17 02:11:00,5,NaN,NaN,17.322458

## Alert Features
* Yellow: Doctor's visit recommended for potential infection.
* Orange: Check-in recommended for abnormal heart or respiratory rate.
* Red: Emergency check-in required for simultaneously abnormal heart and respiratory rates.

### Non-Emergency Alert

In [21]:
df_MA_Alert = df_MA.copy()

In [22]:
# Create value Orange for conditions outside rr boundaries
conditions = [
    (df_MA_Alert['rr_MA_3_min'] > 32),
    (df_MA_Alert['rr_MA_3_min'] < 12),
    ]

values = ['Orange', 'Orange']

df_MA_Alert['RR_Alert'] = np.select(conditions, values)

In [23]:
# Create value Orange for conditions outside hr boundaries
conditions = [
    (df_MA_Alert['hr_MA_3_min'] > 110),
    (df_MA_Alert['hr_MA_3_min'] < 50)
    ]

values = ['Orange', 'Orange']

df_MA_Alert['HR_Alert'] = np.select(conditions, values)

### Emergency Alert

In [24]:
# Create value Red for conditions when hr and rr are outside boundaries
conditions = [
    (df_MA_Alert['RR_Alert'] == 'Orange') & (df_MA_Alert['HR_Alert'] == 'Orange'),
    ]

values = ['Red']

df_MA_Alert['Red_Alert'] = np.select(conditions, values)

### Doctor's visit Alert

In [25]:
conditions = [
    (df_MA_Alert['rr_MA_1_day'] > 26),
    (df_MA_Alert['rr_MA_1_day'] < 17)
    ]

values = ['Yellow', 'Yellow']

df_MA_Alert['Infection_Alert'] = np.select(conditions, values)

### Alert Compilation Feature

In [26]:
conditions = [
    ((df_MA_Alert['RR_Alert'] == 'Orange') & (df_MA_Alert['HR_Alert'] != 'Orange')),
    ((df_MA_Alert['RR_Alert'] != 'Orange') & (df_MA_Alert['HR_Alert'] == 'Orange')),
    (df_MA_Alert['Infection_Alert'] == 'Yellow'),
    (df_MA_Alert['Red_Alert'] == 'Red')
    ]

values = ['Orange', 'Orange', 'Yellow', 'Red']

df_MA_Alert['Alert'] = np.select(conditions, values)

In [ ]:
df_MA_Alert['Alert'].value_counts()

In [27]:
df_z = df_MA_Alert.groupby(['user_id', 'Alert']).size().unstack(fill_value=0)
df_z

Alert       0  Orange  Red  Yellow
user_id
1        1041      80   26    2047
2        1117     193    0    3112
3        1317     193    0    2462
4        7039     109   12       0
5        3154      75   27       0